.js-todo-display{
  position: relative;
}

.edit-todo-container {
  visibility: hidden;
  position: absolute;
  top: 12px;
  left: 40px;
  width: 80%;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.edit-todo-input {
  flex:1;
  min-width: 0;
  height: 40px;
  box-sizing: border-box;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.edit-date-input{
  flex: 1;
  min-width: 0;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  color: rgb(139, 139, 139);
  margin-left: 20px;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.edit-todo-input, .edit-date-input {
  font-size: 15px;
  font-family: space mono;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
}

.edit-date-save-button-group{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.edit-action-button {
  position: relative;
  flex: 1;
  gap: 10px;
  right: 1px;
  display: flex;
  justify-content: flex-end;
  
}

.todo-edit-button {
  position: relative;
  visibility: visible;
  height: 25px;
  margin-top: -2px;
  font-family: space mono;
  box-shadow: 3px 3px 1px 
}

.todo-save-button{
  position: relative;
  visibility: hidden;
  height: 25px;
  margin-top: 6px;
  font-family: space mono;
  box-shadow: 3px 3px 1px rgb(7, 133, 7);
}

.edit-cancel-button {
  position: relative;
  visibility: hidden;
  height: 25px;
  margin-top: 6px;
  font-family: space mono;
  box-shadow: 3px 3px 1px 
}

.edit-saved-message {
  position: absolute;
  visibility: hidden;
  right: 45px;
  height: 25px;
  font-family: space mono;
  color: rgb(7, 133, 7);
  font-size: 12px;
}

.todo-save-button, .edit-cancel-button, .todo-edit-button {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  background-color: white;
  color: black;
}

.todo-save-button:hover, .edit-cancel-button:hover, .todo-edit-button:hover {
  box-shadow: 4px 4px 1px black;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: 0.3s;
}

.todo-checkbox-input:hover {
  cursor: pointer;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.disable-todo-description, .disable-todo-description {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .js-todo-display{
    position: relative;
  }
  
  .edit-todo-container {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .edit-todo-input {
    flex:1;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px; /* makes text vertically centered */
  }

  .edit-date-input{
    flex: 1;
    position: relative;
    left: 0px;
    color: rgb(139, 139, 139);
    padding-bottom: 2px;
    height: 40px;
    margin-left: 0px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px; /* makes text vertically centered */
    justify-content: left;
  }

  .edit-date-save-button-group{
    display: flex;
    flex-direction: row;
  }

  .edit-action-button {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
    flex: 1;
    gap: 10px;
  }
}