body {
  font-family: space mono;
  background-color: rgb(238, 238, 238);
}

.todo-status-div {
  display: none; 
  margin-top: 150px;
  text-align: center;
}

.todo-status-completed {
  display: block;
}

.todo-display-container {
  position: relative;
  padding-top: 20px;
}

.todo-display {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  justify-items: center; 
}

.pending-todo-title-container {
  display: none;
}

.pending-todo-title-container-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 140px;
  width: 800px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.pending-todo-title {
  flex: 1;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.pending-todo-count {
  flex: 1;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

/* Apply styles for screens 600px wide or smaller */
@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
    padding: 10px;
  }
  
  .pending-todo-title-container-active {
    margin-top: 250px;
  }

}