
.todo-navbar {
  padding-top: 5px;
  position: fixed;
  width: 100%;
  background-color:rgb(252, 217, 104);
  height: 130px;
  border-bottom: 5px solid black;
  top: 0;
  left: 0;
  z-index: 1;
  
  padding: 10px;
}

.navbar-container {
  max-width: 830px;  
  margin: 0 auto; 
  align-items: center;
  justify-content: space-between; 
}

.todo-header-container {
  margin-bottom: 5px;
}

.todo-header {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.todo-alert-container {
  display: flex;
  flex-direction: row;
  top: 0;
  min-height: 24px;
}

.todo-alert-div {
  flex: 1;
}

.empty-todo-div {
  visibility: hidden;
}

.empty-alert-div-active {
  visibility: visible;
  color: rgb(216, 11, 11);
  font-family: space mono;
}

.todo-input-field {
  display: flex;
  width: 830px;
  gap: 10px;
}

.description{
  flex: 2;
}

.date{
  flex: 1;
  color: rgb(139, 139, 139);
  appearance: none;
  padding-bottom: 2px;
}

.description, .date {
  background-color: white;
  font-family: space mono;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.todo-create-button {
  border: 1px solid black;
  background-color: white;
  font-family: space mono;
  box-shadow: 3px 3px 1px black;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
}

.todo-create-button:hover {
  box-shadow: 5px 5px 1px black;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: 0.3s;
}



/* Apply styles for screens 600px wide or smaller */
@media only screen and (max-width: 600px) {
  .todo-navbar {
    padding: 10px;
    height: 235px;
  }

  .todo-header {
    font-size: 25px;
    padding: 10px;
  }

  .todo-input-field {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
  }

  .description {
    min-height: 40px;
  }

  .date {
    min-height: 40px;
  }

  .todo-create-button {
    height: 40px;
  }

}

