body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}

.todo-input-field {
  margin-bottom: 30px;
}

.todo-display {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.todo-container {
  display: flex;
  background-color: white;
  padding: 10px;
  max-width: 800px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 1px black;
}

.todo-checkbox {
  margin-right: 10px;
}
.todo-checkbox-input:hover {
  cursor: pointer;
}
.todo-title-description {
  flex: 4;
  margin-right: 50px;
}
.todo-date-time {
  flex: 1;
  margin-right: 50px;
}
.action-button {
  flex: 1;
}


.todo-title {
  font-weight: bold;
}

.edit-todo-button, .delete-todo-button {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
}
.edit-todo-button {
  box-shadow: 5px 5px 1px green;
}
.delete-todo-button {
  box-shadow: 5px 5px 1px red;
}

.edit-todo-button:hover, .delete-todo-button:hover {
  box-shadow: 5px 5px 1px black;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: 0.2s;
}