.todo-display-container {
  position: relative;
}

.todo-status-div {
  display: none; 
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo-status-completed {
  display: block;
}

.todo-display {
  display: grid;
  margin-top: 150px;
  grid-template-columns: auto;
  gap: 20px;
  top: 0;
  justify-items: center; 
}

.todo-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  width: 800px;
  border-radius: 10px;
}

.todo-checkbox {
  margin-right: 10px;
  width: 20px;
}
.todo-description {
  flex: 2;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  height: auto;
  padding-right: 50px;
}
.todo-date {
  flex: 1;
}
.action-button {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.js-todo-date-inactive {
  display: none;
}

.todo-create-button {
  border: 1px solid black;
  background-color: white;
  font-family: space mono;
  box-shadow: 3px 3px 1px black;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
}
.todo-edit-button, .delete-todo-button {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
}
.todo-edit-button {
  position: absolute;
  right: 100px;
  height: 25px;
  font-family: space mono;
  box-shadow: 3px 3px 1px rgb(7, 133, 7);
}
.delete-todo-button {
  position: absolute;
  right: 15px;
  height: 25px;
  font-family: space mono;
  box-shadow: 3px 3px 1px rgb(216, 11, 11);
}

.todo-edit-button:hover, .delete-todo-button:hover, .todo-create-button:hover {
  box-shadow: 5px 5px 1px black;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  transition: 0.2s;
}

.todo-checkbox-input:hover {
  cursor: pointer;
}