.completed-todo-display {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.js-completed-todo-display-active {
  max-height: 1000px;
  background-color: none;
}

.completed-container {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 190px auto 0;
}

.completed-title-container {
  position: relative;
  display: flex;
  width: 800px;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: none;
  transition: 0.3s;
}

.js-completed-title-container-active {
  background-color: rgb(219, 219, 219);
}

.completed-title-container:hover {
  background-color: rgb(219, 219, 219);
  transition: 0.2s;
  cursor: pointer;
}

.completed-title {
  flex: 1;
  position: inherit;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.clear-all-button-container  {
  display: flex;
  position: inherit;
  flex: 1;
  justify-content: right;
}

.clear-all-button {
  display: none;
  text-align: right;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  height: 25px;
  font-family: space mono;
  background-color: transparent;
  color: rgb(100, 100, 100);
}
.clear-all-button-active {
  display: block;
}

.clear-all-button:hover {
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.completed-count {
  padding-left: 20px;
  position: inherit;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
