.completed-todo-display {
  max-height:0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.js-completed-todo-display-active {
  max-height: 1000px;
  background-color: none;
}

.completed-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.completed-title-container {
  position: relative;
  display: flex;
  width: 800px;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
.js-completed-title-container-active {
  background-color: rgb(219, 219, 219);
}

.completed-title-container:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
  transition: 0.2s;
}

.completed-title {
  flex: 1;
  position: inherit;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.completed-count {
  flex: 1;
  position: inherit;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
